services:
  app:
    image: validate-assignments
    build:
      context: services/app
      dockerfile: Dockerfile
    container_name: validate-assignments
    environment:
      - ASSETS=$ASSETS # Points to assets directory when storage type set to disk or bucket path when set to s3
      - APP_NAME=${APP_NAME:-validate-assignments}
      - SOLUTION_JSON=${SOLUTION_JSON:-$ASSETS/solution.json}
      - RUN_TIMEOUT_SEC=${RUN_TIMEOUT_SEC:-5}
      - STORAGE_TYPE=${STORAGE_TYPE:-disk} # or s3
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL:-http://minio:9000}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY:-accesskey}
      - S3_SECRET_KEY=${S3_SECRET_KEY:-secretkey}
    volumes:
      - ./assets:/assets
    networks:
      - app
    depends_on:
      minio:
        condition: service_healthy
  minio:
    image: minio/minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - "9001:9001"
    entrypoint: [ "server", "/data", "--console-address", ":9001" ]
    volumes:
      - minio_data:/data
    networks:
      - app
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 5s
      timeout: 20s
      retries: 3

volumes:
  minio_data:


networks:
  app:
    driver: bridge
    internal: true
